## Developer: Anthony Patregnani ##

## Course: LIS4930, Exploration into AI, Machine and Deep Learning ##

## Semester: Summer 2023 ##

# Program Requirements: #
    1. Get
    2. Clean
    3. Prepare
    4. Analyze
    5. Display/Visualize

In [1]:
# 1. import pandas (open source data analysis/science and AI package)

import pandas as pd

## Get Data - read cleaned pickle file ##

In [2]:
# 2. read cleaned pickle file from Assignment 2 into "mortality_data" variable 

mortality_data = pd.read_pickle('mortality_cleaned.pkl')

## Examine Cleaned Data ##

In [3]:
# 3. display first and last 5 rows with one command!
# Note: the following way *only* works in Jupyter Notebooks
# mortality_data

print(mortality_data)

     Year     AgeGroup  DeathRate
0    1900    1-4 Years     1983.8
1    1901    1-4 Years     1695.0
2    1902    1-4 Years     1655.7
3    1903    1-4 Years     1542.1
4    1904    1-4 Years     1591.5
..    ...          ...        ...
471  2014  15-19 Years       45.5
472  2015  15-19 Years       48.3
473  2016  15-19 Years       51.2
474  2017  15-19 Years       51.5
475  2018  15-19 Years       49.2

[476 rows x 3 columns]

## Display DataFrame Attributes ##

In [4]:
# 4. Use Pandas DataFrame info() Method:
# Prints:
# 1. number of columns
# 2. column labels
# 3. column data types
# 4. column usage
# 5. range Index
# 6. number of cells in each column (non-null values)

mortality_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       476 non-null    int64
 1   AgeGroup   476 non-null    object
 2   DeathRate  476 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.3+ KB

In [5]:
# 5. Print the following datafram attributes: index, columns, size, and shape

print("Index:  ", mortality_data.index)
print("Columns:", mortality_data.columns)
print("Size:   ", mortality_data.size)
print("Shape:  ", mortality_data.shape)

Index:   RangeIndex(start=0, stop=476, step=1)
Columns: Index(['Year', 'AgeGroup', 'DeathRate'], dtype='object')
Size:    1428
Shape:   (476, 3)

In [6]:
# 6. display first 3 records sorted by DeathRate in ascending order 
# Note: sort_values() function sorts in ascending order by default

print(mortality_data.sort_values('DeathRate').head(3))

     Year   AgeGroup  DeathRate
231  2012  5-9 Years       11.4
237  2018  5-9 Years       11.5
229  2010  5-9 Years       11.5

In [7]:
# 7. display last 3 records sorted by DeathRate in descending order

print(mortality_data.sort_values('DeathRate', ascending=False).head(3))

   Year   AgeGroup  DeathRate
0  1900  1-4 Years     1983.8
1  1901  1-4 Years     1695.0
2  1902  1-4 Years     1655.7

In [8]:
# 8. display first 3 records sorted by Year and DeathRate both in ascending order
# Note: major/minor order (left to right). Here, first Year, then DeathRate

print(mortality_data.sort_values(['Year', 'DeathRate']).head(3))

     Year     AgeGroup  DeathRate
238  1900  10-14 Years      298.3
119  1900    5-9 Years      466.1
357  1900  15-19 Years      484.8

In [9]:
# 9. display first 3 records sorted by DeathRate and Year both in ascending order
# Note: major/minor order 

print(mortality_data.sort_values(['DeathRate', 'Year']).head(3))

     Year   AgeGroup  DeathRate
231  2012  5-9 Years       11.4
229  2010  5-9 Years       11.5
233  2014  5-9 Years       11.5

In [10]:
# 10. display first 5 records sorted (first) by Year (ascending order), then DeathRate (descending order)

print(mortality_data.sort_values(['Year', 'DeathRate'], ascending=[True, False]).head())

     Year     AgeGroup  DeathRate
0    1900    1-4 Years     1983.8
357  1900  15-19 Years      484.8
119  1900    5-9 Years      466.1
238  1900  10-14 Years      298.3
1    1901    1-4 Years     1695.0

In [11]:
# 11. display first 5 records sorted (first) by DeathRate (descending order), then Year (ascending order)

print(mortality_data.sort_values(['DeathRate', 'Year'], ascending=[False, True]).head())

   Year   AgeGroup  DeathRate
0  1900  1-4 Years     1983.8
1  1901  1-4 Years     1695.0
2  1902  1-4 Years     1655.7
4  1904  1-4 Years     1591.5
6  1906  1-4 Years     1580.0

## Preparing Data - apply Statistical Functions ##

In [12]:
# 12. Display DeathRate mean

print(mortality_data['DeathRate'].mean())

192.92415966386554

In [13]:
# 13. display concatenated string and numeric output

print("DeathRate mean: " + str(mortality_data.DeathRate.mean()))

DeathRate mean: 192.92415966386554

In [14]:
# 14. Same as above, though formatted to two decimal places

print("DeathRate mean: " + str(format(mortality_data.DeathRate.mean(), ".2f")))

DeathRate mean: 192.92

In [15]:
# 15. Display max AgeGroup and DeathRate values (two columns)
# Note: AgeGroup sorted by *ASCII* values (5>1)--that is, why it is important to zero-fill, when necessary (see below)

print(mortality_data[['AgeGroup', 'DeathRate']].max())

AgeGroup     5-9 Years
DeathRate       1983.8
dtype: object

In [16]:
# 16. display total numbers (all columns, excluding null values)

print(mortality_data.count())

Year         476
AgeGroup     476
DeathRate    476
dtype: int64

In [17]:
# 17. using pandas quantile() function, display 50% value of Year column, verify using median() function

print(mortality_data['Year'].quantile(0.5))
print(mortality_data['Year'].median())

1959.0
1959.0

In [18]:
# 18. same as above, though, display 50% value of both Year and DeathRate columns, verify using median() function

print(mortality_data[['Year', 'DeathRate']].quantile([.5]))
print(mortality_data[['Year', 'DeathRate']].median())

       Year  DeathRate
0.5  1959.0       89.5
Year         1959.0
DeathRate      89.5
dtype: float64

In [19]:
# 19. same as above, though, display 10% value of both Year and DeathRate columns, then 90% value of each, using one statement
# quantile values (Example: 10% and 90%)
# 10% year = 1911.5, and 10% deathrate less than 21.50
# 90% year = 2006.5, and 90% deathrate less than 430.85

print(mortality_data.quantile([.1,.9], numeric_only=True))

       Year  DeathRate
0.1  1911.5      21.50
0.9  2006.5     430.85

In [20]:
# 20. display cumlative sum of deathrate values (i.e, each row added to previous row), use cumsum() function

print(mortality_data['DeathRate'].cumsum())

0       1983.8
1       3678.8
2       5334.5
3       6876.6
4       8468.1
        ...
471    91631.7
472    91680.0
473    91731.2
474    91782.7
475    91831.9
Name: DeathRate, Length: 476, dtype: float64

In [21]:
# 21. verify cumsum() function by displaying first 5 records of DeathRate col

print(mortality_data['DeathRate'].head(5))

0    1983.8
1    1695.0
2    1655.7
3    1542.1
4    1591.5
Name: DeathRate, dtype: float64

## Preparing data - column arithmetic ##

In [22]:
# 22. create and display two new columns (i.e., 'Mean' and
# 'Mean Centered' displays how far from the mean each value
# 'centering' refers to the process of subtracting the mean
# 'centering' is important when interpreting group effects of
# 'centering' redefines 'e point' for 'predictor' to be whatever
# Note: Explicit Line joining using backslash (\).
# https://docs.python.org/3/reference/Lexical analysis.html#

mortality_data[ 'Mean'] = mortality_data.DeathRate.mean()
mortality_data[ 'MeanCentered'] = \
    mortality_data.DeathRate - mortality_data.DeathRate.mean()

In [23]:
# 23. print mortality_data DF
# Note: new cols in mortality_data DataFrame

print(mortality_data)

     Year     AgeGroup  DeathRate       Mean  MeanCentered
0    1900    1-4 Years     1983.8  192.92416    1790.87584
1    1901    1-4 Years     1695.0  192.92416    1502.07584
2    1902    1-4 Years     1655.7  192.92416    1462.77584
3    1903    1-4 Years     1542.1  192.92416    1349.17584
4    1904    1-4 Years     1591.5  192.92416    1398.57584
..    ...          ...        ...        ...           ...
471  2014  15-19 Years       45.5  192.92416    -147.42416
472  2015  15-19 Years       48.3  192.92416    -144.62416
473  2016  15-19 Years       51.2  192.92416    -141.72416
474  2017  15-19 Years       51.5  192.92416    -141.42416
475  2018  15-19 Years       49.2  192.92416    -143.72416

[476 rows x 5 columns]

## Preparing data - modify string data in column ##

In [24]:
# 24. modify col names, so that col names are treated 'equalLy, that is, when being sorted (here, using dictionary)
# inplace set to true to in order to replace values in DataFrame
mortality_data.AgeGroup.replace(
{'1-4 Years': '01-04 Years', '5-9 Years': '05-09 Years'},
inplace=True)

## Save prepped DataFrame to pickle file, then read ##

In [25]:
# 25. save prepped DataFrame to pickle file

mortality_data.to_pickle('mortality_prepped.pkl')

In [26]:
# 26. Read prepped DataFrame from pickle file, and print first 5 records

mortality_data = pd.read_pickle ('mortality_prepped.pkl')
mortality_data.head()

   Year     AgeGroup  DeathRate       Mean  MeanCentered
0  1900  01-04 Years     1983.8  192.92416    1790.87584
1  1901  01-04 Years     1695.0  192.92416    1502.07584
2  1902  01-04 Years     1655.7  192.92416    1462.77584
3  1903  01-04 Years     1542.1  192.92416    1349.17584
4  1904  01-04 Years     1591.5  192.92416    1398.57584

## Shape data - using index (sometimes, makes plotting easier!) ##

## Set and use an index ##

In [27]:
# 27. display first 2 records (note current indexes)

mortality_data.head(2)

   Year     AgeGroup  DeathRate       Mean  MeanCentered
0  1900  01-04 Years     1983.8  192.92416    1790.87584
1  1901  01-04 Years     1695.0  192.92416    1502.07584

In [28]:
# 28. index "year" col, then display first two records (note new indexes)
# ***Note:*** indexed columns *cannot* be used as parameters in other methods/functions!

mortality_data = mortality_data.set_index('Year')
mortality_data.head(2)

         AgeGroup  DeathRate       Mean  MeanCentered
Year
1900  01-04 Years     1983.8  192.92416    1790.87584
1901  01-04 Years     1695.0  192.92416    1502.07584

In [29]:
# 29. reset original index, then display first two records (note original indexes)
# inplace set to true to in order to replace values in DataFrame

mortality_data.reset_index(inplace=True)
mortality_data.head(2)

   Year     AgeGroup  DeathRate       Mean  MeanCentered
0  1900  01-04 Years     1983.8  192.92416    1790.87584
1  1901  01-04 Years     1695.0  192.92416    1502.07584

In [30]:
# 30. create multi-index, check validity (i.e., no duplicates), then display first two records (note new indexes)
# set multi-index to 'Year' and 'AgeGroup'

mortality_data = mortality_data.set_index(
    ['Year', 'AgeGroup'], verify_integrity=True)
mortality_data.head(2)

                  DeathRate       Mean  MeanCentered
Year AgeGroup
1900 01-04 Years     1983.8  192.92416    1790.87584
1901 01-04 Years     1695.0  192.92416    1502.07584

In [31]:
# 31. reset original index (using inplace), then display first two records (note new indexes)

mortality_data.reset_index(inplace=True)
mortality_data. head(2)

   Year     AgeGroup  DeathRate       Mean  MeanCentered
0  1900  01-04 Years     1983.8  192.92416    1790.87584
1  1901  01-04 Years     1695.0  192.92416    1502.07584

## Shape data - using pivot (wide data)
# • Similar to spreadsheet
# • Each observation defined by both
1. value at cell in table, and
2. coordinates of cell with respect to row and column indices.
# • Not: Cannot access variables in dataset by name
# • https://seaborn.pydata.org/tutorial/data_structure.htm|#long-form-vs-wide-form-data
## Pandas pivot() function:
# https://pandas.pydata.org/docs/user_guide/reshaping.htm|freshaping-pivot
# https://pandas.pydata.org/docs/reference/api/pandas.Dataframe.pivot.html
# *Parameters:*
    index: Column to use to make new DataFrame's index. If None, uses existing index.
    columns: Column to use to make new DataFrame's columns.
    values: Column(s) to use for populating new DataFrame's values. If not specified, all remaining columns used
    returns: Reshaped DataFrame
    Exception: ValueError raised if there are any duplicate indexes (cannot reshape if index/column pair not unique!)

In [32]:
# 32. pivot the following DataFrame: index= 'Year', columns= 'AgeGroup*
# index: 'Year'
# column to use to make new frame's columns: 'AgeGroup'
# values: all remaining columns to populate new DataFrame's values
# Note: if no 'values' par, uses *all* remaining cols!
# assign resulting DataFrame to 'mortality_wide' variable, then display first 3 records

mortality_wide = mortality_data.pivot (index= "Year", columns= "AgeGroup")
mortality_wide.head(3)

           DeathRate                                            Mean  \
AgeGroup 01-04 Years 05-09 Years 10-14 Years 15-19 Years 01-04 Years
Year
1900          1983.8       466.1       298.3       484.8   192.92416
1901          1695.0       427.6       273.6       454.4   192.92416
1902          1655.7       403.3       252.5       421.5   192.92416

                                             MeanCentered              \
AgeGroup 05-09 Years 10-14 Years 15-19 Years  01-04 Years 05-09 Years
Year
1900       192.92416   192.92416   192.92416   1790.87584   273.17584
1901       192.92416   192.92416   192.92416   1502.07584   234.67584
1902       192.92416   192.92416   192.92416   1462.77584   210.37584


AgeGroup 10-14 Years 15-19 Years
Year
1900       105.37584   291.87584
1901        80.67584   261.47584
1902        59.57584   228.57584

In [33]:
# 33. pivot the following DataFrame:
# index: 'Year'
# column to use to make new frame's columns: 'AgeGroup'
# values: 'DeathRate'
# assign resulting DataFrame to 'mortality_wide' variable, then display first 3 records

mortality_wide = mortality_data.pivot (index= "Year", columns="AgeGroup", values="DeathRate")
mortality_wide.head(3)

AgeGroup  01-04 Years  05-09 Years  10-14 Years  15-19 Years
Year
1900           1983.8        466.1        298.3        484.8
1901           1695.0        427.6        273.6        454.4
1902           1655.7        403.3        252.5        421.5

In [34]:
# 34. save wide DataFrame to Excel file ('mortality_wide.xLsx')
# Note: *Be careful* saving wide DataFrame to Excel file changes index- -must change back (see below)!

mortality_wide.to_excel('mortality_wide.xlsx')

In [35]:
# 35. read saved Excel file and assign to 'mortality_wide' variable, then display first 4 records

mortality_wide = pd.read_excel('mortality_wide.xlsx')
print(mortality_wide.head(4))

   Year  01-04 Years  05-09 Years  10-14 Years  15-19 Years
0  1900       1983.8        466.1        298.3        484.8
1  1901       1695.0        427.6        273.6        454.4
2  1902       1655.7        403.3        252.5        421.5
3  1903       1542.1        414.7        268.2        434.1

In [36]:
# 36. save wide DataFrame to pickle file ('mortality_wide.pkL')

mortality_wide.to_pickle('mortality_wide.pkl')

In [37]:
# 37. read saved pickle file and assign to 'mortality_wide' variable, then display first 5 records

mortality_wide = pd.read_pickle('mortality_wide.pkl')
mortality_wide.head()

NameError: name 'p' is not defined

## Shape data - using melt (long data)
 - Each variable is a column
 - Each observation is a row
 - can access variables in dataset by name
# - https://seaborn.pydata.org/tutorial/data_structure.html#long-form-vs-wide-form-data
## Pandas melt) function:
# https://pandas.pydata.org/docs/user_guide/reshaping.html#freshaping-by-melt
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.melt.html
# *Parameters:*
    id vars: Column(s) to use as identifier variables.
    value_vars: Column(s) to unpivot. If not specified, uses all columns not set as id_vars.
    var_name: Name to use for 'variable' column. If None, uses frame.columns.name or 'variable'
    value_name: Name to use for 'value' column.
    col_level: If columns Multilndex, then use this level to melt.
    ignore_index: If True, original index ignored. If False, original index retained. Index labels will be repeated as necessary.
    Returns: Reshaped DataFrame

In [ ]:
# 38. melt following DataFrame: 'mortality_wide'
# id_vars='Year'
# value_vars=['01-04 Years', '05-09 Years']
# var_name='AgeGroup'
# value_name='DeathRate'
# assign resulting DataFrame to 'mortality_Long' variable, then display first 4 records

mortality_long = mortality_wide.melt(id _vars='Year', value_vars=['01-04 Years', '05-09 Years'], var_name='AgeGroup', value_name='DeathRate')
mortality_long.head(4)

In [ ]:
# 39. using pandas option_context() function, display 6 rows (first 3 and Last 3) and all cols
# Note: option_context() executes codeblock with set of options that revert to prior settings after execution
# Note: 'None' value for 'display. max_columns' property returns *all* cols.
with pd. option_context (
'display. max_rows', 6,
'display.max_columns', None):
    print(mortality_long)

## Analyze grouped data using (single) aggregate functions ##

In [ ]:
# 40. display first 5 records of 'mortality_data' DF (i.e., prior to aggregation)

mortality_data.head()

In [ ]:
# 41. group 'AgeGroup' by mean, and display DF

mortality_data.groupby('AgeGroup').mean()

In [ ]:
# 42. group 'Year' by median, and display first 4 records
# Note: See numeric_onLy=True note above.

mortality_data.groupby('Year').median(numeric_only=True).head(4)

In [ ]:
# 43. group 'Year' and 'AgeGroup' by count, and display first 5 records
# Note: only for demo purposes, since there is only 1 record for each group

mortality_data.groupby(['Year', 'AgeGroup']).count().head()

In [ ]:
# 44. group 'AgeGroup', then return statistical summary for 'DeathRate' using 'describe()' function

mortality_data.groupby('AgeGroup')['DeathRate'].describe()

## Analyze grouped data using (multiple) aggregate functions ##

In [ ]:
# 45. group 'AgeGroup', then using agg() function, aggregate *all* columns using 'mean' and 'median' functions

mortality_data.groupby('AgeGroup').agg(['mean', 'median'])

In [ ]:
# 46. group 'AgeGroup', then using agg() function, aggregate onLy 'DeathRate' coLumn
# using 'mean, median, standard deviation, and 'unique' functions

mortality_data.groupby('AgeGroup')['DeathRate'].agg(['mean', 'median','std', 'nunique'])

In [ ]:
# 47. group 'Year', then using agg() function, aggregate onLy 'DeathRate' coLumn
# using 'mean, median, standard deviation, min, max, variance, and 'unique' functions

mortality_data.groupby('Year')['DeathRate'].agg(['mean', 'median','std', 'min', 'max', 'var', 'nunique'])

## Visualize data ##

# Note: There is no "best" way to visualize data. Different questions are best answered by different visualizations!
# Chart Visualization: https://pandas.pydata.org/docs/user_guide/visualization.html
# An Intuitive Guide to Data Visualization in Python: https://www.analyticsvidhya.com/blog/2021/02/an-intuitive-guide-to-visualization-in-python/

In [ ]:
# 48. pivot 'mortality_data' DataFrame using the following parameters:
# index: 'Year '
# column to use to make new frame's columns: 'AgeGroup'
# values: all remaining columns to populate new DataFrame's values
# Note: if no 'values' par, uses *all* remaining cols!
# after pivoting DataFrame, use plot() function to display Line plot (default)

mortality_data.pivot(index='Year', columns='AgeGroup')['DeathRate'].plot()

In [ ]:
# 49. dispLay same plot as above by re-indexing mortality_wide DF
# Note: Because, saving wide DataFrame to Excel file changes index--must re -index (see above) !
# Change index back to 'Year'

mortality_wide = mortality_wide.set_index('Year')

# save wide DataFrame to pickle file ('mortality_wide. pkl')
# read saved pickle file and assign to 'mortality_wide' variable,
# then dispLay first 5 records to dispLay new index

mortality_wide.to_pickle(' mortality_wide. pkl')
mortality_wide.pd.read_pickle('mortality_wide.pkl')
mortality_wide.head()

## Outliers
# Defined: "Unusual" dataset values
# Problematic: Distort findings
# Identitying outliers (simple):
    1. Sort data
    2. Graphs (e.g., boxplot (very easy to see!), scatterplot, and histogram)
# Fixing:
    1. Keep (not always bad!)
    2. Drop
    3. Modify (Winsorizing): https://en.wikipedia.org/wiki/Winsorizing
    A. Cap (values)
    B. Reassign (e.g., to mean/median value, or linear interpolation - "curve fitting"/estimating new values)
    C. Other (nonexclusive) procedures--that is, not permitting "exclusive" procedures like trimming or truncating values

In [ ]:
# https://www.simpLypsychology.org/boxplots.html
# 50. using 'mortality_data' DataFrame, create a box plot (aka "box and whisker plot") for each age group
# Note: box plot displays five-number summary: min, Ist quartile, median (2nd quartile), 3rd quartile, and max.
# Note: interquartile range (IQR) is the "box"-that is, bet. Ist and 3rd quartile
# Note: outliers are *actual* min/max values (data points located outside whiskers of box plot)

mortality_wide.plot.box()

In [ ]:
# 51. display Line plot for re-indexed mortality_wide DF
# Note: xlabel: 'Year', ylabel: 'Deaths per 100,000', title: 'DeathRate by AgeGroup'

mortality_wide.plot(xlabel='Year', label='Deaths per 100,000', title= 'DeathRate by AgeGroup')

In [ ]:
# 52. using 'mortality_data' DataFrame, group 'AgeGroup', then aggregate only 'DeathRate' column
# using 'mean,' 'median,' and 'standard deviation' aggregate functions, then, plot vertical bar plot (rotate x-axis Labels 45 degrees)

mortality_data.groupby('AgeGroup')['DeathRate'].agg(['mean', 'median','std']).plot.bar(rot=45)

In [ ]:
# 53. same as above using horizontal bar plot

mortality_data.groupby('AgeGroup')['DeathRate'].agg(['mean', 'median', 'std']).plot.barh()

In [ ]:
# 54. using 'mortality_data' DataFrame, query the following years: 1900, 1925, 1950, 1975, 2000, group by 'Year'
# then aggregate only 'DeathRate' column using sum() function, and, plot the following graph using pie plot

mortality_data.query('Year in (1900, 1925, 1950, 1975, 2000)').groupby('Year').DeathRate.sum().plot.pie()

In [ ]:
# 55. using 'mortality_wide' DataFrame,
# query the following years: 1900, 1925, 1950, 1975, 2000
# then, create subplots for each of the following age groups: 01-04, 05-09, 10-14, 15-19
# create a 2x2 Layout, set sharey par. to True (to turn off y labels on remaining horizontal charts), use figure size of 8"5" (WxH)

mortality_wide.query('Year in (1900, 1925, 1950, 1975, 2000)').plot.barh(
    title= ['Child Mortality: 01-94', 'Child Mortality: 05-09', 'Child Mortality: 10-14', 'Child Mortality: 15-19'],
    sharey=True, legend=False, subplots=True, layout=(2, 2), figsize= (8,5))

In [ ]:
# https://pandas.pydata.org/pandas-docs/version/0.25.0/reference/api/pandas.DataFrame.plot.scatter.htr
# 56. using 'mortality_data' DataFrame, query the following AgeGroup: 01-04 Years,
# then, plot the following graph using scatter plot, with a color of your choice
# Note, if receiving a color warning, just hit Shift+Enter in this cell
# Appears to be an Anaconda issue, as plot documentation is above.

mortality_data.query('AgeGroup == "01-04"').plot.scatter(x='AgeGroup', y='DeathRate', color='blue')